<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% block stylesheets %}
        <script src={{ asset('https://code.jquery.com/jquery-3.2.1.js') }} integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <script src={{ asset('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js') }}></script>
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href={{ asset('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css') }}>
        <link rel="stylesheet" href="{{ asset('../../../css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('../../../js/index.js') }}">
{% endblock %}



</head>
<body>

<div class="navbar-fixed">
<nav class="nav-extended white">
    <div class="nav-wrapper">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <a href="#!" class="brand-logo"><img src="{{ asset('../../../images/logo-filiere-spmeca-01.png') }}"  /></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="hover" href="/Filiale">La Filiaire</a></li>
            <li><a href="/Work">Les Travaux</a></li>
            <li><a href="/entity_actor">Les Acteurs</a></li>
            <li><a href="/entity_advert">L'actu</a></li>
            <li><a href="/contact">Contacts</a></li>
            <div class="chip black">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {#{{ app.user.username }}#}

                <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                {% else %}
                <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                {% endif %}</li>
            </div>
        </ul>
    </div>
    <div class="nav-content">
        <span class="nav-title"></span>
    </div>
</nav>
</div>
<ul id="slide-out" class="side-nav">
    <li><a class="hover" href="/Filiale">La Filiaire</a></li>
    <li><a href="/Work">Les Travaux</a></li>
    <li><a href="/entity_actor">Les Acteurs</a></li>
    <li><a href="/entity_advert">L'actu</a></li>
    <li><a href="/contact">Contacts</a></li>
        <li><a>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {#{{ app.user.username }}#}

        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
        {% else %}
        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
        {% endif %}</a></li>
</ul>



{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}
{% block body %}{% endblock %}

<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright Text

            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
{#-------------------------------------------------------------------#}




<div class="preloader-background">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>


<script>document.addEventListener("DOMContentLoaded", function(){
        $('.preloader-background').delay(1700).fadeOut('fast');

        $('.preloader-wrapper')
            .delay(1700)
            .fadeOut();
    });

    // Initialize collapse button
    $(".button-collapse").sideNav();
    // Initialize collapsible (uncomment the line below if you use the dropdown variation)
    //$('.collapsible').collapsible();

    </script>
{% block javascripts %}

{% endblock %}




</body>
</html>