<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% block stylesheets %}
        <script src={{ asset('https://code.jquery.com/jquery-3.2.1.js') }} integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <script src={{ asset('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js') }}></script>
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href={{ asset('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css') }}>
        <link rel="stylesheet" href="{{ asset('../../../css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('../../../js/index.js') }}">
{% endblock %}



</head>
<body>

<div class="navbar-upper ">
    <nav class="z-depth-0 ">
        <div class="nav-wrapper white">
            <div class="row">
                <div class="col s12">
                    <a href="#modal1" class="brand-logo" style="display:block;float:left;"><img src="{{ asset('../../../images/logo-filiere-spmeca-01.png') }}"></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">

                        <li>

                            <form style="height:64px;">
                                <div class="input-field ">
                                    <input id="search" type="search" required placeholder="Search">
                                    <label class="label-icon" for="search"><i class="this material-icons">search</i></label>
                                    <!--                   <i class="material-icons" style="">close</i> -->
                                </div>
                            </form>

                        </li>
                        <!-- <li><a href="#modal1"><i class="material-icons">search</i></a></li> -->
                        <!-- <li><a href="#modal1"><i class="material-icons">view_module</i></a></li> -->
                        <!-- <li><a href="#modal1"><i class="material-icons">refresh</i></a></li> -->
                        <li><a class="waves-effect waves-light btn btn-large animated tada" href="#modal1"><i class="material-icons left">phone</i>Call now!</a></li>
                        <li><a href="#sheet1"><i class="material-icons">more_vert</i></a></li>

                    </ul>

                </div>
            </div>
        </div>
    </nav>
</div>




<div class="navbar-lower">
    <nav class="z-depth-10 nav-extended white">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s12 white">
                    <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
                    <a class="fadeInLogo brand-logo animated slideInUp">

                        <!-- <img src="https://materializecss.com/res/materialize.svg" alt="" style="margin-top:12px;" height="40px"/> -->
                        <i style="color:red;" class="large material-icons">important_devices</i>
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a class="hover" href="/Filiale">La Filière</a></li>
                        <li><a href="/Work">Les Travaux</a></li>
                        <li><a href="/entity_actor">Les Acteurs</a></li>
                        <li><a href="/entity_advert">L'actu</a></li>
                        <li><a href="/contact">Contacts</a></li>
                        <li><a>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {#{{ app.user.username }}#}

                        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                        {% else %}
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                        {% endif %}</a>
                        </ul>

                </div>
                <div class="nav-content ">

                        <ul class="side-nav" id="mobile-demo">


                            <li class="sidenav-header blue">
                                <div class="row">
                                    <div class="col s8">
                                        <a class="btn-flat dropdown-button waves-effect waves-light white-text" href="#" data-activates="profile-dropdown">Mecacorps<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                        <ul id="profile-dropdown" class="dropdown-content">
                                            <li><a href="#"><i class="material-icons">person</i>Profile</a></li>
                                            <li><a href="#"><i class="material-icons">settings</i>Setting</a></li>
                                            <li><a href="#"><i class="material-icons">help</i>Help</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><i class="material-icons">lock</i>Lock</a></li>
                                            <li><a href="#"><i class="material-icons">exit_to_app</i>Logout</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>




                            <li class="white">
                                <ul class="collapsible collapsible-accordion">
                                    <li>
                                        <a class="collapsible-header waves-effect waves-blue"><i class="material-icons">folder_special</i>Layouts <i class="material-icons right" style="margin-right:0;">arrow_drop_down</i></a>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li><a class="waves-effect waves-blue" href="#"><i class="material-icons">fullscreen</i>Full Screen<span class="new badge right yellow grey lighten-1" data-badge-caption="updated"></span></a></li>
                                                <li><a class="waves-effect waves-blue" href="#"><i class="material-icons">swap_horiz</i>Horizontal Menu<span class="new badge right yellow darken-3"></span></a></li>
                                                <li><div class="divider"></div></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="white">
                                <ul class="collapsible collapsible-accordion">
                                    <li>
                                        <a class="collapsible-header waves-effect waves-blue"><i class="material-icons">folder_open</i>A submenu <i class="material-icons right" style="margin-right:0;">arrow_drop_down</i></a>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li><a class="waves-effect waves-blue" href="#"><i class="material-icons">fullscreen</i>Full Screen</a></li>
                                                <li><a class="waves-effect waves-blue" href="#"><i class="material-icons">swap_horiz</i>Horizontal Menu</a></li>
                                                <li><div class="divider"></div></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">mail</i>Menu item</a></li>
                            <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">call</i> Menu item</a></li>
                            <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">android</i> Menu item</a></li>
                            <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">dialpad</i> Menu item</a></li>
                            <li class="white"><div class="divider"></div></li>
                            <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">language</i> Menu item<span class="new badge right yellow darken-3"></span></a></li>

                            <li class="sidenav-footer grey darken-2">
                                <div class="row">
                                    <div class="social-icons">
                                        <div class="col s2">
                                            <a href="#"><i class="fa fa-lg fa-linkedin-square"></i></a>
                                        </div>
                                        <div class="col s2">
                                            <a href="#"><i class="fa fa-lg fa-facebook-official"></i></a>
                                        </div>
                                        <div class="col s2">
                                            <a href="#"><i class="fa fa-lg fa-twitter"></i></a>
                                        </div>
                                        <div class="col s2">
                                            <a href="#"><i class="fa fa-lg fa-google-plus"></i></a>
                                        </div>
                                        <div class="col s2">
                                            <a href="#"><i class="fa fa-lg fa-pinterest"></i></a>
                                        </div>
                                        <div class="col s2">
                                            <a href="#"><i class="fa fa-lg fa-youtube"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal hide-on-med-and-down scale-transition scale-out pulse" href="#modal1">
                <i class="material-icons">call</i>
            </a>

        </div>
    </nav>
</div>



<div id="tab1" class="col s12">{% block body %}
    {% endblock %} </div>




<div id="tab2" class="col s12">


<!-- MOBILE ONLY FLOATING ACTION BUTTON -->
<div class="fixed-action-btn hide-on-large-only">
    <a class="btn-floating btn-large teal">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li><a href="#modal1" class="btn-floating teal lighten-3 tooltipped" data-tooltip="Share" data-position="left"><i class="material-icons">share</i></a></li>
        <li><a href="#modal1" class="btn-floating teal lighten-2 tooltipped" data-tooltip="Start chat" data-position="left"><i class="material-icons">chat</i></a></li>
        <li><a href="#modal1" class="btn-floating teal lighten-1 tooltipped" data-tooltip="Save contact" data-position="left"><i class="material-icons">file_download</i></a></li>
        <li><a href="#modal1" class="btn-floating teal tooltipped" data-tooltip="Call" data-position="left"><i class="material-icons">call</i></a></li>
    </ul>
</div>













<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col m6 l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col m6 l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright Text
            <span class="right">
      <a class="grey-text text-lighten-4" href="#!">Privacy Policy</a>
      &nbsp;|&nbsp;
      <a class="grey-text text-lighten-4" href="#!">Terms & Conditions</a>
    </span>
        </div>
    </div>
</footer>






<!-- Visual Breakpoint Helper for Materialize - http://materializecss.com/ -->
<div style="position:fixed;bottom:0;left:0;background-color:rgba(0,0,0,0.5);padding:10px;color:#fff;z-index: 99999999;">
    <span class="hide-on-med-only hide-on-large-only">Small</span>
    <span class="hide-on-small-only hide-on-large-only">Tablet</span>
    <span class="hide-on-small-only hide-on-med-only">Desktop</span>
</div>




<!-- TRANSIFEX MOCKUP LANGUAGE CHOOSER -->
<div id="tx-live-lang-container" class="txlive-langselector txlive-langselector-bottomright"><ul id="tx-live-lang-picker" class="txlive-langselector-list notranslate"><li data-value="en">English</li><li data-value="ar">العربية</li><li data-value="zh">中文</li><li data-value="cs">Čeština</li><li data-value="nl">Nederlands</li><li data-value="fr">Français</li><li data-value="de">Deutsch</li><li data-value="ko">한국어</li><li data-value="pt">Português</li><li data-value="ru">Русский</li><li data-value="es">Español</li><li data-value="sv">Svenska</li><li data-value="th">ภาษาไทย</li><li data-value="tr">Türkçe</li></ul><div class="txlive-langselector-toggle notranslate" id="tx-live-lang-toggle"><span class="txlive-langselector-current" id="tx-live-lang-current">English</span><span class="txlive-langselector-marker"></span></div></div>






















{#<div class="navbar-fixed">#}
{#<nav class="nav-extended white">#}
    {#<div class="nav-wrapper">#}
        {#<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>#}
        {#<a href="/" class="brand-logo"><img src="{{ asset('../../../images/logo-filiere-spmeca-01.png') }}"  /></a>#}
        {#<ul class="right hide-on-med-and-down">#}
            {#<li><a class="hover" href="/Filiale">La Filière</a></li>#}
            {#<li><a href="/Work">Les Travaux</a></li>#}
            {#<li><a href="/entity_actor">Les Acteurs</a></li>#}
            {#<li><a href="/entity_advert">L'actu</a></li>#}
            {#<li><a href="/contact">Contacts</a></li>#}
            {#<div class="chip">#}
                {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                {#{{ app.user.username }}#}

                {#<a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>#}
                {#{% else %}#}
                {#<a href="{{ path('fos_user_security_login') }}">Connexion</a>#}
                {#{% endif %}</li>#}
            {#</div>#}
        {#</ul>#}
    {#</div>#}

{#</nav>#}
{#</div>#}




{#{% for type, messages in app.session.flashBag.all %}#}
    {#{% for message in messages %}#}
        {#<div class="{{ type }}">#}
            {#{{ message|trans({}, 'FOSUserBundle') }}#}
        {#</div>#}
    {#{% endfor %}#}
{#{% endfor %}#}
{#{% block body %}{% endblock %}#}

{#<footer class="page-footer #84bd00">#}
    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col l6 s12">#}
                {#<h5 class="white-text">Footer Content</h5>#}
                {#<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>#}
            {#</div>#}
            {#<div class="col l4 offset-l2 s12">#}
                {#<h5 class="white-text">Links</h5>#}
                {#<ul>#}
                    {#<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>#}
                    {#<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>#}
                    {#<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>#}
                    {#<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<div class="footer-copyright">#}
        {#<div class="container">#}
            {#© 2017 Copyright Text#}

            {#<a class="grey-text text-lighten-4 right" href="#!">More Links</a>#}
        {#</div>#}
    {#</div>#}
{#</footer>#}
{#-------------------------------------------------------------------#}




<div class="preloader-background">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>


<script>document.addEventListener("DOMContentLoaded", function(){
        $('.preloader-background').delay(1700).fadeOut('fast');

        $('.preloader-wrapper')
            .delay(1700)
            .fadeOut();
    });

    // Initialize collapse button
    $(".button-collapse").sideNav();
    // Initialize collapsible (uncomment the line below if you use the dropdown variation)
    //$('.collapsible').collapsible();
    // AFFIX LOWER NAVBAR ON SCROLL
    $(window).scroll(function() {
        var scroll = $(window).scrollTop();
        if (scroll >= 64) {
            $(".navbar-lower").addClass("navbar-fixed");
        }
        else {
            $(".navbar-lower").removeClass("navbar-fixed");
        }
    });


    // FADE IN SMALL LOGO AND FAB ON SCROLL
    $(window).scroll(function() {
        var scrollPosition = $(this).scrollTop();
        var $fadeInLogo = $('.fadeInLogo');
        var $growInFab = $('.halfway-fab');
        if (scrollPosition > 128) {
            // Fade in logo & bring in FAB
            $fadeInLogo.fadeIn(200);
            $growInFab.removeClass("scale-out");
        } else {
            // Fade out logo & remove FAB
            $fadeInLogo.fadeOut(200);
            $growInFab.addClass("scale-out");
        }
    });


    // MODAL
    $(document).ready(function(){
        $('.modal').modal();
    });

    // DROPDOWNS
    $(document).ready(function(){
        $(".dropdown-button").dropdown(
            {
                belowOrigin: true
            }
        );
    });

    //TABS
    $(document).ready(function(){
        $('ul.tabs').tabs();
    });

    //SCROLLSPY
    $(document).ready(function(){
        $('.scrollspy').scrollSpy();
    });

    // SIDEBAR
    $(document).ready(function(){
        $('.button-collapse').sideNav({
                menuWidth: 300, // Default is 300
                edge: 'left', // Choose the horizontal origin
                closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                draggable: true // Choose whether you can drag to open on touch screens
            }
        );
    });
    </script>
{% block javascripts %}

{% endblock %}




</body>
</html>