{% extends 'base.html.twig' %}

{% block body %}

    <div style="margin-left: 12.5%;" class=" container">
    <h1>L'Actualité</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Title</th>
                <th>Author</th>
                <th>Content</th>
                <th>Image</th>
                <th>Categories</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="card panel">
        {% for advert in adverts %}
            <tr>
                <td><img src="{{ asset('uploads/images/' ~ advert.image) }}" height="150px" width="300px" ></td>
                <td><a href="{{ path('entity_advert_show', { 'id': advert.id }) }}">{{ advert.id }}</a></td>
                <td>{% if advert.date %}{{ advert.date|date('Y-m-d H') }}{% endif %}</td>
                <td>{{ advert.title }}</td>
                <td>{{ advert.author }}</td>
                <td>{{ advert.content }}</td>

                <td>{{ advert.categories }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn-large blue" href="{{ path('entity_advert_show', { 'id': advert.id }) }}">show</a>
                        </li>
                        <li>

                            <a class="btn-large red" href="{{ path('entity_advert_edit', { 'id': advert.id }) }}">edit</a>


                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <hr>
    </table>

    <ul>
        <li>
            <a class="btn-large blue" href="{{ path('entity_advert_new') }}">New</a>
        </li>
    </ul>
</div>
</div>

    <div class="text-center">{{ knp_pagination_render(adverts) }}</div>
{% endblock %}
