{% extends 'base.html.twig' %}

{% block body %}
    <h1>Advert</h1>

    <table  class="comment" id="comment_1">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advert.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if advert.date %}{{ advert.date|date('Y-m-d H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ advert.title }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ advert.author }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ advert.content }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('uploads/images/' ~ advert.image) }}" height="100px" width="250px"></td>
            </tr>
            <tr>
                <th>Categories</th>
                <td>{{ advert.categories }}</td>
            </tr>
        </tbody>
    </table>
    <span class="reply">Reply</span>
    <form id="reply-comment">
        <textarea placeholder="Ton commentaire"></textarea>
    </form>
    <ul>
        <li>
            <a href="{{ path('entity_advert_index') }}" class="btn-large blue" >retour</a>
        </li>
        <li>
            <a href="{{ path('entity_advert_edit', { 'id': advert.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>



    <style>
        a, .reply, h1 {
            color: grey;
            text-decoration: none;
            cursor: pointer;
        }
        .reply {
            font-size: 11px;
            float: right;
            display: block;
        }
        .comments-list {
            background: #f7f7f7;
            border: 1px solid #eee;
            padding: 10px;
            border-radius: 5px;
        }
        .comment {
            background: #fefefe;
            padding: 5px;
            border-radius: 4px;
            margin-bottom: 10px;
        }
        textarea {
            width: 100%;
        }
        #reply-comment {
            display: none;
        }</style>

    <script>$(".reply").click(function () {
            if ($(this).next("#reply-comment").is(":visible")) {
                $(this).next("#reply-comment").slideUp();
            } else {
                $(this).next("#reply-comment").slideDown();
            }
        });
    </script>
{% endblock %}
