{% extends 'base.html.twig' %}

{% block body %}
    <h1>Actors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Entreprise</th>
                <th>Categories</th>
                <th>Dirigeant</th>
                <th>Adresse</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Siteweb</th>
                <th>Facebook</th>
                <th>Linkedin</th>
                <th>Twitter</th>
                <th>Instagram</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td><a href="{{ path('entity_actor_show', { 'id': actor.id }) }}">{{ actor.id }}</a></td>
                <td>{{ actor.entreprise }}</td>
                <td>{{ actor.categories }}</td>
                <td>{{ actor.dirigeant }}</td>
                <td>{{ actor.adresse }}</td>
                <td>{{ actor.tel }}</td>
                <td>{{ actor.email }}</td>
                <td>{{ actor.siteweb }}</td>
                <td>{{ actor.facebook }}</td>
                <td>{{ actor.linkedin }}</td>
                <td>{{ actor.twitter }}</td>
                <td>{{ actor.instagram }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('entity_actor_show', { 'id': actor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('entity_actor_edit', { 'id': actor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('entity_actor_new') }}">Create a new actor</a>
        </li>
    </ul>
{% endblock %}
